{% extends 'app/base.html' %}
{% load widget_tweaks %}
{% block content %}
<table>
    <tr>
        <th class="th_first">時給</th>
        <td class="td_first">{{ recruit.hourlywage }}円 　 {{ recruit.hourlywage_description }}</td>
    </tr>
    <tr>
        <th>勤務時間</th>
        <td>{{ recruit.worktime }}</td>
    </tr>
    <tr>
        <th class="th_last">その他</th>
        <td class="td_last">{{ recruit.description | linebreaksbr　}}</td>
    </tr>
</table>
    <div class="form_container">
        <form method='POST'>
            {% csrf_token %}

            <div class="form_container_text">
                <div class="form_container_text_left">
                    <p>必須</p>
                </div>
                <div class="form_container_text_right">
                    <p>お名前</p>
                </div>
            </div>
            <div class="form-group">
                {% render_field form.user_name class="form-control" placeholder='例：山田　花子' %}
            </div>

           
            <div class="form_container_text">
                <div class="form_container_text_left">
                    <p>必須</p>
                </div>
                <div class="form_container_text_right">
                    <p>年齢</p>
                </div>
            </div>
            <div class="form-group"> 
                {% render_field form.user_age class="form-control" placeholder='年齢' %}
            </div>

            
            <div class="form_container_text">
                <div class="form_container_text_left">
                    <p>必須</p>
                </div>
                <div class="form_container_text_right">
                    <p>性別</p>
                </div>
            </div>
            <div class="form-group">
                {% render_field form.user_gender class="form-control" placeholder='性別' %}
            </div>

            
            <div class="form_container_text">
                <div class="form_container_text_left">
                    <p>必須</p>
                </div>
                <div class="form_container_text_right">
                    <p>メールアドレス</p>
                </div>
            </div>
            <div class="form-group">
                {% render_field form.user_email class="form-control" placeholder='例：aaaa@gmail.com' %}
            </div>

            
            <div class="form_container_text">
                <div class="form_container_text_left">
                    <p>必須</p>
                </div>
                <div class="form_container_text_right">
                    <p>電話番号</p>
                </div>
            </div>
            <div class="form-group">
                {% render_field form.user_tel class="form-control" placeholder='例：09010001000' %}
            </div>
           
            <button type="submit" class="btn btn-info to-apply">応募する</button>
            
        </form>
    </div>
{% endblock %}