
{% extends 'app/base.html' %}

    {% block content %}
    {% load static %}
    <img src="{% static 'img.png' %}" alt="">
    <div class="header">
        {{ store_name }}
        <h4>募集要項</h4>
    </div>
        {% if recruit_list %}
            {% for recruit in recruit_list %}
            
            <table>
                <tr>
                    <th class="th_first">職種</th>
                    <td class="td_first">{{ recruit.recruitment_type }}</td>
                </tr>
                <tr>
                    <th>給与</th>
                    <td>{{ recruit.hourlywage }} 　 {{ recruit.hourlywage_description }}</td>
                </tr>
                <tr>
                    <th>勤務時間</th>
                    <td>{{ recruit.worktime }}</td>
                </tr>
                <tr>
                    <th class="th_last">その他</th>
                    <td class="td_last">{{ recruit.description　| linebreaksbr }}</td>
                </tr>
            </table>
            <button class="btn btn-outline-info to-detail"  type="button" onclick=location.href="{% url 'detail' slug recruit.pk %}" >応募画面へ</button>
                {% if not forloop.last %}
                    <hr>
                {% endif %}
            {% endfor %}
        {% else %}
            <h4>現在、募集は行っておりません。</h4>
        {% endif %}
    {% endblock %}


    